<!DOCTYPE html>
<html>
<head>
    <title>NASA-EONET</title>
    <style>
        body {font-family: Arial, sans-serif; margin: 40px;}
        form {margin-bottom: 20px;}
        input[type="text"], input[type="submit"] {margin-right: 10px;}
        ul {padding: 0;}
        li {list-style: none; margin-bottom: 10px;}
        button {margin-left: 10px;}
    </style>
</head>
<body>
    <h1>NASA-EONET</h1>
    <form action="data", method="POST">
        <input type="submit" value="Daten abrufen">
    </form>
    <form action="preferences", method="GET">
        <input type="submit" value="Einstellungen">
    </form>
    <button class="btn btn-danger mt-3" onclick="fetch('/shutdown', {method: 'POST'}).then(() => window.close())">Beenden</button>
</body>
</html>